h1::first-letter {
    text-transform: capitalize;
}

body > main {
    padding-block-start: 0;
}

h1 {
    margin-block-end: 0.8rem;
}

.container {
    max-width: 95%;
}

.button--icon {
    cursor: pointer;
    transition: 0.4s all ease;
}

.button--icon:hover {
    opacity: 0.5;
}

.header--backbutton {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-end: 0.8rem;
}

.header--backbutton h1 {
    margin-block-end: 0;
}