body > main {
    padding-block-start: 0;
}

h1 {
    margin-block-end: 0.8rem;
}

h1::first-letter,
h2::first-letter,
h4::first-letter {
    text-transform: capitalize;
}

.container {
    max-width: 95%;
}

.header-navigation {
    position: sticky;
    inset-block-start: 0;
    background-color: var(--pico-background-color);
    z-index: 2;
}

.button--icon {
    cursor: pointer;
    transition: 0.4s all ease;
}

.button--icon:hover {
    opacity: 0.5;
}

.header--backbutton {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-end: 0.8rem;
}

.header--backbutton h1 {
    margin-block-end: 0;
}

.logo-list {
    width: 2rem;
    height: 2rem;
    margin-inline-end: 1rem;
}